<div class="formLogin col-md-4 offset-md-4 mt-5">
    <h5>Add User</h5>
    <hr/>
    <form #registration="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" ngModel>
        </div>
        <input type="hidden" id="type" ngModel="client" name="type" [value]='client'>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" ngModel>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" (click)=addUser(registration.value) class="btn btn-outline-success btn-sm">
            Send Data
          </button>
        </div>
    </form>
</div>