<div class="formLogin col-md-4 offset-md-4 mt-5">
    <h5>Login</h5>
    <hr/>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">User</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.name">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" (click)=checkLogin() class="btn btn-primary btn-sm">
            Send Data
          </button>
        </div>
        <a routerLink="/registration">Or register now!</a>
    </form>
</div>