<div class="container row mt-5 ml-5">
    <div class="col-md-3">
        <h5>Books Admin</h5>
    </div>
    <div class="col-md-4 offset-md-1 custom-products-cart-container">
        <a class="btn btn-success btn-sm mb-3 addBook" (click)="addBook()">Add New Book</a>
    </div>
    <div class="container row justify-content-between">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Book Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="viewBook(book.id)">Show Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <app-viewbook *ngIf="action === 'view'" [book]="selectedBook" (bookDeletedEvent)="refreshData()"></app-viewbook>
            <app-addbook *ngIf="action === 'edit' || action === 'add'" [book]="selectedBook" (bookAddedEvent)="refreshData()"></app-addbook>
        </div>
    </div>
</div>