table,
th,
td {
    padding: 10px;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

.table {
    box-shadow: 3px 4px 10px #dee2e6;
    margin: auto !important;
}

.deleteUser {
    color: red !important;
}

.deleteUser:hover {
    color: #fff !important;
}